@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
}
.sidebar{
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 60px;
}
.sidebar .logo-details{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.sidebar .logo-details i{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    background: red;
}
.sidebar .logo-details .logoname{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
.sidebar .navlinks{
margin-top: 16px;
}
.sidebar .navlinks li{
    height: 50px;
    width: 100%;
    list-style: none;
}
.sidebar .navlinks li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
.sidebar .navlinks li a:hover{
    background: #081D45;
}
.sidebar .navlinks li a i{
min-width: 60px;
text-align: center;
color: #fff;
font-size: 18px;
}
.sidebar .navlinks li a .link_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
/* home section */
.home-section{
    background: #f5f5f5;
    position: relative;
    height: 100%;
    width: calc(100%-249px);
    left: 240px;
}
.home-section nav{
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    height: 80px;
    background: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease;
}
.sidebar.active .home-section nav{
    width: calc(100% - 60px);
    left: 6 0px;

}
.home-section nav .sidebar-button i{
font-size: 35px;
margin-right: 10px;
}
.home-section nav .search-box{
    background: red;
    height: 50px;
    width: 550px;
    margin: 0 20px;
    position: relative;
}
nav .search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 17px;
    background: #f5f6fA;
    border: 2px solid #EFEEF1;
    outline: none;
}
nav .search-box .bx-search{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background: #2697ff;
    border-radius: 6px;
   font-size: 22px;
   line-height: 40px;
   text-align: center; 
}
.home-section nav .profile-details{
    display: flex;
    align-items: center;
height: 50px;
min-width: 190px;
background: #f5f6fA;
border: 2px solid #EFEEF1;
border-radius: 6px;
padding: 0 15px 0 2px;
}
nav .profile-details img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 6px;
}
nav .profile-details .admin-name{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}
nav .profile-details i{
    color: #333;
    font-size: 25px;
}
.home-section .home-content{
    position: relative;
padding-top: 100px;
}
.home-content .overview-boxes{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;
}
.home-content .overview-boxes .box{
    width: calc(100% / 4 - 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 14px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgb(00, 0, 0,0.5);
}
.home-content .overview-boxes .box-topic{
font-size: 20px;
font-weight: 500;

}
.home-content .overview-boxes .number{
    font-size: 35px;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;
}
.overview-boxes .indicator{
    display: flex;
}
.overview-boxes .indicator i{
    height: 20px;
    width: 20px;
    background: #8fDACB;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;

}
.overview-boxes .indicator .text{
    font-size: 12px;

}
.overview-boxes .box .cart{
    font-size: 32px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    color: #66b0ff;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
}
.overview-boxes .box .cart.two{
    background: #C0F2DB;
    color: #2BD47D;
}
.overview-boxes .box .cart.three{
    color: #ffc233;
    background: #ffe8b3;
}
.overview-boxes .box .cart.four{
    color: #e05260;
    background: #f7d4d7;
}
.overview-boxes .indicator i.down{
    background: #e87d88;
}
.home-section .sales-boxes {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.home-section .sales-boxes .recent-sale{
width: 65%;
background: #fff;
border-radius: 12px;
box-shadow: 0 5px 10px rgba(0,0,0,0.1);
padding: 20px;
}
.home-section .sales-boxes .sales-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-section .sales-boxes .box .title{
    font-size: 24px;
    font-weight: 500;
}
.home-section .sales-boxes .box .topic{
    font-size: 20px;
    font-weight: 500;
}
.home-section .sales-boxes .box li{
    list-style: none;
    margin: 8px 0;
}
.sales-boxes .box li a{
    color: #333;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

/* right-side */ 
.home-section .sales-boxes .top-sale{
    width: 35%;
    margin-left: 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 12px;
}
.sales-boxes .button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.sales-boxes .recent-sale .button a{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #0A2558;
    padding: 4px 12px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;

}
.sales-boxes .button a:hover{
    background: #0d3073;
}
.sales-boxes .top-sale li{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.sales-boxes .top-sale li a{
    display: flex;
    align-items: center;
}
.sales-boxes .top-sale img{
    margin-right: 8px;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    object-fit: cover;
}


/*responsive medida query */

@media(max-width:1216){
    .sidebar.active{
        width: 220px;
    }
    .sidebar{
        
        width: 60px;
       
    }
    .home-section{
        
        width: calc(100%-60px);
        left: 60px;
    }
    .sidebar.active.home-section{
        width: calc(100%-220px);
        left: 40px;
    }
    .home-section nav{
        position: fixed;
        width: calc(100% - 60px);
        left: 60px;
        
    }
    .sidebar.active.home-section nav{
        position: fixed;
        width: calc(100% - 220px);
        left: 220px;
        
    }

}
@media (max-width:1078px){
.home-section .sales-boxes{
    flex-direction: column;
}
.home-section .sales-boxes .box{
    margin-bottom: 20px;
    width: 100%;
}
.home-section .sales-boxes .top-sale{
    margin-left: 0;
}
}

@media (max-width: 1018px){
    .home-content .overview-boxes .box{
        width: calc(100% / 2 - 15px);
    }
}
@media (max-width:658px){
    .home-section nav .sidebar-button.dashboard{
        display: none;
    }
}